* {
    padding: 0;
    margin: 0;
}

.tBanner {
    position: relative;
    height: 600px;
    width: 100%;
    display: flex;
    text-align: center;
}
h1{
    position: absolute;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Palette Mosaic', cursive;
    animation-name: headeAn123;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-delay: 1s;
    margin-top: 10px;
}
@keyframes  headeAn123 {
    0%{left:-100% }
    100%{left:18%;}
}
header {
    height: 175px;
    margin-bottom: 20px;
    position: relative;
    font-size: 40px;
    background-color: black;
    text-align: center;
    /* Required properties for animations */
    animation-name: headeAn;
    animation-duration: 3s;
    /* Other optional properties for animations */
    
    animation-direction: normal;/* normal | reverse | alternate | alternate-reverse */
    animation-fill-mode: both; /* none | forward | backwards| both */
    animation-timing-function: ease-in-out; /* linear | ease | ease-in | ease-out | ease-in-out */
    z-index: 1;
}
@keyframes headeAn {
    0%{margin: -300px 0 0 0; }
    100%{margin: 0 0 0 0}
}
.Button{
    background-color: red;
    display: inline;

    }
.Button:hover {
    animation-name: running;
    animation-name: doAFlip;
    border: black 1px solid;
    animation-duration: 8s;
    height: 40px;
    width: 90px;
    font-size: 20px;
    background-color: red;
}
@keyframes doAFlip {
    0%{background-color: red; width: 20px;}
    16.7%{background-color: orange}
    33.37%{background-color: yellow}
    50.07%{background-color:rgb(0, 50, 0)}
    66.77%{background-color:blue}
    83.47%{background-color:indigo}
    100%{background-color: violet;}
}


.textAnimation {
    position: relative;
    font-size: 40px;
    color: white;
    text-align: center;
    /* Required properties for animations */
    animation-name: animation1;
    animation-duration: 5s;
    /* Other optional properties for animations */

    animation-iteration-count:infinite; /* infinite | or # value */
    animation-direction: alternate; /* normal | reverse | alternate | alternate-reverse */
    animation-fill-mode: both; /* none | forward | backwards| both */
    animation-timing-function: ease-in-out; /* linear | ease | ease-in | ease-out | ease-in-out */
    z-index: 1;
}
.newColorA {
    animation-name: animateflippy;
    animation-duration:5;
}
@keyframes animateflippy {
    0%{transform: rotate(0);color: blue;}
    100%{transform: rotate(360deg); color: green;}    
}
